{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="{{ path_for('images.upload') }}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Upload an Image</a>
            <br><br>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for image in images %}
                        <tr>
                            <td>{{ image.name }}</td>
                            <td>{{ image.created_at }}</td>
                            <td>{{ image.updated_at }}</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# <div class="panel panel-default">
                <div class="panel-heading">Images</div>
                <div class="panel-body">
                    <form action="{{ path_for('image.upload') }}" method="post" autocomplete="off" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Select image to upload:</label>
                            <input type="file" name="newFile">
                        </div>
                        <button type="submit" class="btn btn-default">Upload</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div> #}
        </div>        
    </div>
{% endblock %}
